body{
    font-family: PingFang SC,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    margin: 0;
    user-select: none;
    font-size: 12px;
    background-color: #f2f2f2;
}
#app{
    width: 10rem;
    margin: 0 auto;
}
p{
    margin: 0;
    padding: 0;
}
#app .no{
    display: none;
}
header{
    text-align: center;
    height: 0.82rem;
    background-color: #3c444d;
    color:#fff;
    border-bottom: 0.026667rem solid #f0f0f0 ;
    display: flex;
    align-items: center;
}
h1{
    font-size: 0.4rem;
    margin: 0;
    padding: 0;
    flex: auto;
}
#app .w{
    color:white;
}
header span{
    flex: none;
    font-size: 0.266667rem;
    color:#a1a5ac;  
}
header svg{
    width: 0.266667rem;
    height: 0.266667rem;
    margin:0 0.266667rem 0 0.0133333rem;
}

.mask{
    display: none;
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    top:0;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
}
.info{
    width: 9rem;
    top:0;
    padding: 0 0.32rem;
    display: none;
    flex-direction: column;
    position: relative;
    border-radius:  0.266667rem;
    background-color: #fff;
    margin:1rem auto 0.8rem auto;
    
}
.close{
    position: absolute;
    top: -0.9rem;
    right: 0;
    width: 0.746667rem;
    height: 0.746667rem;
    background: url(../image/close.png) no-repeat;
    background-size: contain;
    background-position: center;
}
.infotitle{
    height: 0.693333rem;
    line-height: 0.693333rem;
    margin-top: 0.266667rem;
    font-size: 0.506667rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    text-align: center;
    color: #df343d;
}
.infocontent{
    margin: 0.293333rem 0 0.533333rem 0;
    padding: 0 0.133333rem 1.2rem;
    flex-grow: 1;
    overflow: auto;
    font-size:0.266667rem ;
    line-height: 0.53333rem;
}
.infocontent>div{
    height: 0.56rem;
    line-height: 0.56rem;
    font-size: 0.32rem;
    font-weight: 600;
    color: #212223;
}
.infocontent img{
    width: 100%;
}
#mtable{
    font-size: 0.266667rem;
}
#mtable .play{
    width: 0.32rem;
    background: url(../image/play.png) no-repeat;
    opacity: 0.5;
    background-size: contain;
    background-position: center;
    flex: none;
}
#mtable .play:hover{
    opacity: 1;
}
#mtable .mbody{
    display: grid;
    grid-template-columns: repeat(4,25.01%);
}
#mtable .mbody{
    font-weight: normal;
    border-left: #70ad47 solid 0.0266667rem;
    border-right: #70ad47 solid 0.0266667rem;
}
#mtable label{
    display: grid;
    grid-template-columns: 0.9fr  1fr;
    
}
#mtable .mheader{
    background-color: #70ad47;
    color: white;
}
#mtable .mcontent{
    border-bottom: #70ad47 solid 0.0266667rem;
}
#mtable .mcontent>span:nth-child(1){
    background-color: #ebf1e9;
    justify-content: space-around;
}

#mtable span{
    flex:auto;
    display: flex;
    justify-content: center;
}
.box{
    background-color: #fff;
    margin-top: 0.133333rem;
   
    box-shadow: 0 0.0133333rem 0.0266667rem 0 rgba(0,0,0,.1)
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.buttons>div{
    border: 0.0266667rem solid #eee;
    border-radius: 0.53333rem;
    color:#20a53a;
    font-size:  0.3rem;
    
    padding: 0.05rem 0.25rem;
}
.buttons>div:hover{
    background-color:#20a53a ;
    color:#fff;
}
 .hide{
    border-bottom: 0 solid #eee;
}
.title{
    font-size: 0.32rem;
    font-weight: 400;
    padding:0 1em;
    height: 0.65rem;
    border-bottom: 0.0266667rem solid #eee;
    align-items: center;
    display: flex;
}
.title label{
    border-left: 0.07rem solid #20a53a;
    padding-left: 0.053333rem;
    flex-grow: 0;
}
.title div{
    flex:auto;
}
.title a{
    margin: 0 0.3rem;
    background-color: #20a53a;
    box-shadow: 0 0.0133333rem 0.0266667rem 0 rgba(0,0,0,.1);
    border-radius: 0.53333rem;
    padding: 0.053333rem 0.2rem;
    color:white;
    font-size: 0.266667rem;
}
.title span{
    width: 0.4rem;
    text-align: right;
}
.hide+.items{
    display:none;
}
.bwset{
    display:flex;
    justify-content: space-around;
    
}
.item{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 0.266667rem;
    line-height: 0.5rem;
    margin: 0.5em 0;
    padding: 0.8em;
    background-color: #f9f9f9;
    border:0.0266667rem #f0f0f0 solid;
    border-radius: 50%;
}
.item *{
    text-align: center;
}
.item span{
    color: #20a53a;
}
.set{
    position: relative;
}
.options{
    top:0.65rem;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color:  rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.266667rem;
}
.ranges{
    display: flex;
    height: 0.6rem;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-radius:  0.266667rem;
    padding: 0 0.32rem;
    margin: 0.266667rem;
    
}
.bold{
    font-weight:600;
}
.ranges>div{
    display: flex;
    width: 1.5rem;
    justify-content: space-around;
}

.ranges input[type="radio"]{
    display: none;
}
.ranges input:checked+label,.ranges input[type="range"]+label{
    color: #20a53a;
}
.qd{
    visibility: collapse;
}
input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    flex-grow: 1;
    height: 0.133333rem;
    border-radius: 0.133333rem;
    margin: 0 auto;
    outline: 0;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color:#20a53a;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: 0.053333 solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
   input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 0.133333rem solid #20a53a;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.4);
  }

  .items p{
      display: grid;
      grid-template-columns: repeat(5,1fr);
  }
  .items .active{
      color:#20a53a;
  }
  #showDiv .now{
    color:red;
  }
  .page{
      display: none;
  }
  .page>p{
      border-bottom:  0.026667rem solid #92c074;
      border-left: solid 0.026667rem #70ad47;
      border-right: solid 0.026667rem #70ad47;
  }
  .page>p:nth-child(odd){
      background-color: #ebf1e9;
  }
  .page ul{
      display: flex;
      justify-content: center;
  }
  .page ul:nth-child(2) {
    justify-content: space-around;
}
  .page ul:nth-child(2) li{
      font-size: 0.24rem;
  }
 
  #pages{
      display: flex;
      justify-content: center;

  }
  #pages>span{
      display: flex;
      justify-content: center;
      padding: 0.2em;
      margin: 0.2em;
      border-radius: 50%;
  }
  #showDiv{
    font-size: 0.266667rem;
    width: 95%;
    margin: 0 auto;
}
#showDiv>div>p:last-child label{
    grid-column-start: 5;
}
#showDiv p>div:nth-child(1){
    border-left-width: 0;
}
 .page >p:nth-child(odd)>div{
    border-left: solid 0.0133333rem white;
}
.page >p:nth-child(even)>div{
    border-left: solid 0.0133333rem #eee;
}
#showDiv>div>p:nth-child(2){
    background-color: #70ad47;
    color: white;
    border-left: solid 0.026667rem #70ad47;
    border-right: solid 0.026667rem #70ad47;;
}
#showDiv>div>p:nth-child(2)>div{
    text-align: center;
    line-height: 2em;
}

#showDiv>div span,.page ul{
    margin: 0.13333rem 0;
}
#showDiv>div span:nth-child(2){
    display: block;
}
  #showDiv label{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex:auto;
  }

#app .current{
      background-color: #20a53a;
      color: white;
  }
  #showDiv .show{
    display: block;
  }
#app .hide #pages{
    display: none;
}
#app .hide label{
    flex-grow: 1;
}

#showoption{
    margin: 0 auto;
    height: 0.76rem;
    display: flex;
    width: 95%;
    align-items: flex-end;
    justify-content:flex-end;
}

#showoption>span{
    font-size: 0.266667rem;
    margin-right: 0.5em;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label{
    background-color: #fafbfa;
    padding: 0.135rem;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    margin-right: 0.45rem;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    width: 0.6rem;
    height: 0.225rem;
}

input[type="checkbox"]+label::after{
    content: ' ';
    position: absolute;
    top: 0;
    -webkit-transition: box-shadow 0.1s ease-in;
    transition: box-shadow 0.1s ease-in;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: inset 0 0 0 0 #eee, 0 0 0.015rem rgba(0,0,0,0.4);
}

input[type="checkbox"]+label::before{
    content: ' ';
    position: absolute;
    background: white;
    top: 0.015rem;
    left: 0.015rem;
    z-index: 10;
    width: 0.465rem;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    height: 0.465rem;
    border-radius: 1rem;
    box-shadow: 0 0.045rem 0.015rem rgba(0,0,0,0.05), 0 0 0.015rem rgba(0,0,0,0.3);
}
input[type="checkbox"]:checked+label::before{
    content: ' ';
    /* position: absolute; */
    left: 0.39rem;
    border-radius: 1rem;
}
input[type="checkbox"]:checked+label::after{
    content: ' ';
    /* font-size: 1.5em; */
    position: absolute;
    background: #20a53a;
    box-shadow: 0 0 0.015rem #20a53a;
}
#app .bwno  ul:nth-child(1){
    display: none;
}
#app .ywno  ul:nth-child(2){
    display: none;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer{
    text-align: center;
    font-size: 0.266667rem;
    line-height: 0.78rem;
}
#bwtime,#passtime{
    justify-content: center;
    color: red;
}
#bwtime{
    grid-column-end: 3;
}
#passtime{
    grid-column-start:4;
    grid-column-end:5;
}
#canvasbox{
    visibility: collapse;
    height: 0.8rem;
    bottom: 0;
    left: calc(50% - 5rem);
    width: 10rem;
    position: fixed;
    z-index: 101;
}
canvas{
    width: 100%;
    height: 0.8rem;
    background-color:#3c444d ;
}
footer a{
    text-decoration: none;
    color:black ;
}