<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="mycon" connectionString="Data Source=43.226.43.197;database=mssql190605b10b_db;Uid=mssql190605b10b;Pwd=b10b8Acb64;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
</configuration>
<!--ProjectGuid: 06cf3814-cfe1-4cbf-acfc-5070731f1d3c-->